# Python
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
.env

# Logs
logs/
*.log

# ML artifacts
ml-engine/data/
ml-engine/models/

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Vault local data
*.db
*.sqlite