name: SentinelVault - Secrets Scan

on:
  push:
    branches: [ "main", "develop" ]
  pull_request:

jobs:
  gitleaks-scan:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Run GitLeaks
        uses: gitleaks/gitleaks-action@v2
        with:
          config-path: discovery-engine/gitleaks/.gitleaks.toml
          fail: true
